body {
    font-family: Arial, sans-serif;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.forminput{
    margin-bottom: 10px;
}

.formlabel{
    margin-bottom: 4px;
}

#updateButton{
    width: 30%;
    font-size: 12px;
    margin-top: 10px;
}